SECRET_KEY=ganti-dengan-secret-key-lu
DEBUG=True
DB_NAME=anotasi_image
DB_USER=postgres
DB_PASSWORD=password-lu
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql://postgres.emrwnwctgxdyxrhfegqd:{YOUR-PASSWORD}@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres

