DJANGO_SECRET_KEY=--PUNYA DEWEK**
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=anotasi_image
DB_USER=anotasi_user
DB_PASSWORD=anotasi_dev_2026
DB_HOST=localhost
DB_PORT=587
DATABASE_URL=--PUNYA DEWEK**
EMAIL_HOST_USER=--PUNYA DEWEK**
EMAIL_HOST_PASSWORD=--PUNYA DEWEK**
DEFAULT_FROM_EMAIL=--PUNYA DEWEK**
SITE_URL=http://localhost:8000



# Logo di email — WAJIB URL https publik (disarankan set di Railway)
SITE_URL=https://anotasiimagex25-production.up.railway.app
EMAIL_LOGO1_URL=https://anotasiimagex25-production.up.railway.app/static/images/logo1.png
EMAIL_LOGO3_URL=https://anotasiimagex25-production.up.railway.app/static/images/logo3.png

